<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>{% if title %}{{ title }} - G1aD0S{% else %}G1aD0S{% endif %}</title>
<link rel="icon" type="image/png" href="https://github.com/C1aD0S.png">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<nav>
<a href="/">Home</a>
<a href="/blog">Blog</a>
</nav>
<body>
{{ content }}
<footer>
<span>
Copyright &copy; 2024 G1aD0S
&middot; Content are under
<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA</a>
</span>
</footer>
</body>
</html>
