---
layout: layouts/base.liquid
---

<h1 style="margin-bottom:2px">{{ title }}</h1>
<span style="opacity:0.75">{{ date | date: "%Y-%m-%d" }} :: {{ content | readingTime }} Minute(s)</span>

<div style="padding-top:1em">
{{ content }}
</div>
